.container{
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 15px 0;
}

.little-gap{
  gap: 1rem;
}

.no-gap{
  gap: 0.5rem;
}

.progress-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.progress-bar{
  background-color: var(--color-grey);
  width: 90%;
  height: 5px;
  border-radius: 15px;
  margin: 5px;
}

.progress-bar-progress{
  background-color: var(--color-darker-blue);
  height: 5px;
  border-radius: 15px;
}

.progress-value{
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.quizInfo{
  display:flex;
  align-items: center;
}

.placeholder{
  border-radius: 999px;
  background-color:var(--color-blue);
  color: var(--color-white);
  justify-content: center;
  text-align:center;
  padding: 4px 12px;
}

.quizTitle{
  font-size: 18px;
  padding: 4px 12px;
}

.questionTitle{
  font-size: 22px;
}

.card-ish{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-container.flex-end{
  justify-content: flex-end;
}
