<div class="nav-container">
  <nav class="navbar">

      <div class="nav left">
        <a routerLink="/" class="logo">
          <img
            src="/logo/quizforge_logo.png"
            alt=""
            class="logo-icon"
          >

          <span class="logo-text">Quiz<span>Forge</span></span>
        </a>
      </div>
    <button type="button" class="hamburger" (click)="isMenuOpen=!isMenuOpen"><i class="ti ti-menu-2"></i></button>
      <div class="nav right" [class.open]="isMenuOpen">
        <a routerLink="quiz/new" class="highlighted-btn">New quiz</a>
        <a routerLink="/">Quiz list</a>
      </div>
  </nav>
</div>


