.quiz-info-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.margin-left{
  margin-left: 10px;
}

.quiz-info-checkbox{
  display: flex;
  flex-direction: row;
}

