.question-container{
  background:transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-form{
  font-size: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.answer{
  border: none;
}

.answers-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.answer-container{
  display: flex;
  justify-content: center;
  align-items:center;
  border: 0.5px solid var(--color-border-secondary);
  border-radius: 10px;
  padding: 0 10px;
}

.radio-label{
  border-radius: 50%;
  border:0.5px solid var(--color-border-primary);
  width: 29px;
  height: 29px;
  display: flex;
  align-items: center;
  margin: 5px;
  cursor: pointer;
}

.answer-container.selected{
  border: 0.5px solid var(--color-red);
}

.ans-key.selected{
  border: 2px solid var(--color-red);
  background-color: var(--color-red);
}

input[type="radio"]{
  opacity: 0;
  width: 1px;
  height: 1px;
  position: absolute;
}

label-color{
  color: var(--color-darker-blue);
}

.margin-top{
  margin-top: 10px;
}

.label-info{
  margin: 10px 0 5px 0;
}

.check-icon{
  color: var(--color-background-secondary);
}

.icon.check-icon.selected{
  background-color: var(--color-background-secondary);
  color: var(--color-red);
  border: 0.5px solid var(--color-red);
}
