:root{
  --color-background-primary: #fbfdff;
  --color-background-secondary: #bcc5c8;
  --color-background-tertiary:#f5c29f;
  --color-background-accent:#F97316;

  --color-text-primary:#18181B;
  --color-text-secondary:#52525B;
  --color-text-tertiary:#9CA3AF;

  --color-border-primary: #bcc5c8;
  --color-border-secondary:#52525B;
  --color-border-tertiary:#f5c29f;

  --border-radius-lg:12px;
  --border-radius-md:8px;

  --font-sans: 'Inter', 'Segoe UI', sans-serif;

  --color-error:#EF4444;
  --color-error-bg: #fbe5e5;

  --color-success:#22C55E;
  --color-success-bg: #e3efe4;

  --color-white: #fbfdff;
}

*{
  background-color: var(--color-background-primary);
  font-family: var(--font-sans), serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html{
  overflow-y: scroll;
}


.ans-key{
  width:28px;
  height:28px;
  border-radius: 50%;
  background:var(--color-background-secondary);
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:12px;
  font-weight:500;
  color:var(--color-text-primary);
  flex-shrink:0;
}

.text-input{
  border-radius: var(--border-radius-md);
  border:0.5px solid var(--color-border-primary);
  font-size: 16px;
  padding: 15px;
  width: 100%;
}

.btn{
  background-color: var(--color-background-accent);
  color: var(--color-background-primary);
  border-radius: 10px;
  border: 0.5px solid var(--color-border-accent);
  padding: 5px 15px;
  align-self: flex-end;
  font-size: 16px;
}

.card{
  background-color: var(--color-background-primary);
  border: 1px solid var(--color-border-tertiary);
  border-radius: 15px;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

button:focus, a:focus, input:focus{
  outline: none;
}

button:focus-visible, a:focus-visible, input:focus-visible{
  box-shadow: 1px 1px 4px 4px var(--color-background-tertiary) inset;
}


